params {
    nthreads = 8

    ref_scaffolds = null
    query_scaffolds = null

    ref_id = null
    query_id = null


    // mashmap params
    segment_length = 10000
    percent_identity = 75
    mashmap_dir = '.'

    // circos params
    circos_conf = null
    circos_env  = null

}

nextflow.enable.dsl = 2