conda.enabled = true

params {
    nthreads = 8

    ref_scaffolds = "/data2/work/Refs/Xmac/Xmac_24chromosomes.fa"
    query_scaffolds = "/data2/work/Notothenioids/Dele4/Dele4_simple-asm/work/37/8f8aa3a24b827f32c312db3dc5e973/yahs.out_scaffolds_final.fa"

    ref_id = "Xm"
    query_id = "De"

    // filter link size to prevent overcrowding
    min_link_size = 50000


    // mashmap params
    segment_length = 10000
    percent_identity = 75
    mashmap_path = "/data2/work/local/MashMap/build/bin"

    // circos params
    circos_conf = null
    circos_env  = "/data2/work/local/miniconda/envs/circos/"

}

